<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BarmateServer.Properties.Settings.Bar_MateConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Bar_Mate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BarmateServer.Properties.Settings.Bar_MateConnectionString1"
            connectionString="Data Source=LAPTOP-09DNH6O5;Initial Catalog=Bar_Mate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BarmateServer.Properties.Settings.Bar_MateConnectionString2"
            connectionString="Data Source=tcp:192.168.1.64,1433;Initial Catalog=Bar_Mate;Persist Security Info=True;User ID=server;Password=BatW0lffang3X"
            providerName="System.Data.SqlClient" />
        <add name="BarmateServer.Properties.Settings.Bar_MateConnectionString3"
            connectionString="Data Source=LocalHost;Initial Catalog=Bar_Mate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>